* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url('../img/1537017.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: space;
    height: 100vh;
    font-size: 13px;
}

@media (min-width: 600px) {
 body {
   font-size: 16px;
 }
}

@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}
  
header {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.menu {
    background-color: white;
    position: fixed;
    width: 100vw; 
    top: 0;
    z-index: 1;
}
  
.menu li {
    list-style: none;
}
  
.menu ul {
    display: flex;
    justify-content: space-around;
}
.menu a:active,
.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1s , color 0.5s ;
}

.menu a:hover {
  background-color: dodgerblue;
  color: white;
}
  
a {
    color: dodgerblue;
    text-decoration: none;
}
  
a:hover {
  text-decoration: underline;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeIn {
 -webkit-animation: fadeIn 2.5s ease-in-out;
 -moz-animation: fadeIn 2.5s ease-in-out;
 -o-animation: fadeIn 2.5s ease-in-out;
 animation: fadeIn 2.5s ease-in-out;
} 

.site-subtitle,
.site-title {
    text-align: center;
    color: whitesmoke;
}

.site-title {
font-size: 4em;
font-family: 'Merienda', cursive;
}
  
.site-subtitle {
    font-style: italic;
    font-family: 'PT Serif', serif;
    line-height: 2.0em;
}

.sobre,
.contato ,
.portfolio {
  padding: 2em;
  font-family: 'Roboto', sans-serif;
  min-height: 80vh;
  margin-left: auto;
  margin-right: auto;
}

.portfolio {
  min-height: 50vh;
}

.contato{
  min-height: 0vh;
}

@media (min-width: 1200px) {
  .container {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
  }
}

.sobre h2,
.contato h2,
.portfolio h2 {
 font-family: 'Roboto', sans-serif;
 margin-bottom: 1em;
 font-size: 2em;
 color: black;
}

.sobre p {
  color: whitesmoke;
  text-indent: 0.5em;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-align: justify;
}

.sobre a {
  color: whitesmoke;
  text-decoration: underline;
}

.sobre a:hover {
  background-color: rgba(6, 184, 255, 0.383);
  text-decoration: none;
}

.portfolio .grid {
 display: grid;
 gap: 2em;
 color: black;
 font-family: 'PT Serif', serif;
}

@media (min-width: 600px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 1200px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 150px;
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
  transition: transform 500ms;
}

.img-portfolio:hover {
    transform: scale(1.2);
}

@media (min-width: 600px) {
  .img-portfolio {
    height: 200px;
    width: 223px;
  }
}

/*////////////////*/
.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
  pointer-events: none;
}


.modal > div {
  width: 70%;
  height: 50%;
  position: relative;
  margin: 15% auto;
  padding: 15px 20px;
  background: whitesmoke;
  border-radius: 5mm;
}

@media (min-width: 1000px) {
  .modal > div {
    width: 50%;
  }
}

.fechar {
  position: absolute;
  width: 20px;
  right: 0px;
  top: 0px;
  text-align: center;
  color: white;
  background: rgb(0, 68, 255);
  font-size: 20px;
}

@media (min-width: 1000px) {
  .fechar {
    width: 30px;
    font-size: 25px;
  }
}

.conteudo a {
  background: #1e00ff;
  padding: 4px 8px;
  border-radius: 40px;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  vertical-align: middle;
  font-size: 20px;
  line-height: 2.5;
}

.conteudo a:hover {
  border-top-color: #0073ff;
  background: #0073ff;
  color: #ffffff;
}
.conteudo a:active {
  border-top-color: #0099ff;
  background: #0099ff;
}

.list li {
  color: black;
  text-indent: 0.5em;
  font-size: 1em;
  margin-bottom: 0.8em;
  text-align: left;
}

@media (min-width: 1000px) {
  .list li {
    font-size: 1.5em;
  }
}

.modal a:hover {
  background-color: rgb(6, 155, 255);
  text-decoration: none;
}

.modal h1 {
  text-align: center;
  color: rgb(0, 12, 119);
}

/*///////////////*/

.contato .icons {
  text-align: center;
}

.contato a {
color: black;
font-size: 3em;
transition: text-shadow 0.5s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 19px rgba(255, 255, 255, 0.986);
}