@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Righteous&family=Roboto:wght@500&display=swap');

html{
    background: #283644;
    
}

body {
    background: rgba(255, 255, 255, 0.767);
    margin: 0px;
    
    font: 1rem 'Righteous', cursive;
}

img {
    width: 100%;
    height: auto;
}

.tela {
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}

#navbar,
.nav1 {
    background-color: #ffff;
}

.nav1 ul,
.nav2 ul {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type: none;
    margin: 0% 0%;
    padding: 0%;
}

.nav1 ul {
    justify-content: space-between;
}

.nav2 ul {
    min-height: 30px;
    padding: 7px 5px;
    justify-content: space-around;
}

.margin-center,
.nav1 li,
.nav2 li {
    margin-top: auto;
    margin-bottom: auto;
}

.bnt {
    padding: 5px 15px;
    border-radius: 20px;
    background-color:white;
    box-shadow: 0px 4px 10px -4px rgba(0,0,0,0.3);
    align-items: center;
}

.nav1 input {
    border: none;
    width: 100px;
    height: 20px;
    font-weight: 300;
    outline: none;
}

.menuIcon {
    display: none;
}

.nav1 ul a,
.nav2 ul a {
    display: block;
    text-decoration: none;
    color: black;
}

.hr1 {
    margin: 0px;
}

.nav2 li:hover {
    border-style:  solid none;
    border-color:  #283644;
}

.img-home {
    background-image: url('/img/pexels-valeria-boltneva-1516416.png');
    background-position: center;
    background-repeat: no-repeat;
}

.text-home {
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #ffff;
    font: 2rem 'Great Vibes', cursive;
}

.text-home h1 {
    margin: 30px 0px 0px;
}

.text-home p {
    margin: 0%;

}

.d {
    font-size: 5rem;
}

.bnt-tpr{
    margin-left: auto;
    margin-right: auto;
    font: 1.4rem 'Righteous', cursive;
    padding: 7px 15px;
    background-color: rgba(255, 255, 255, 0.198);
    border-radius: 50px;
}

#produtos h1,
#promo h1,
#lojaAd h1 {
    font-size: 1.7rem;
    text-align: center;
    margin: 7px 0px 15px;
}

.caixaProdudos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;

}

.caixaProdudos ul {
    margin: 10px 20px;
    padding: 0px;
    min-width: 10rem;
    min-height: 7rem;
    background-color: #ffff;
    border-radius: 20px;
}

.caixaProdudos li,
.caixaPromo li {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.caixaProdudos p {
    margin: 0px;
    font-size: 1rem;
}

.caixaProdudos img {
    width: 100%;
    height: auto;
    max-width: 140px;
    
}

.caixaPromo ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding-inline-start: 0px;
}

.caixaPromo li {
    margin: 10px 20px;
    padding: 10px;
    min-width: 15rem;
    min-height: 18rem;
    background-color: rgba(163, 153, 153, 0.582);
    border-radius: 20px;
}

.caixaPromo p {
  margin: 2px 0px;
  font-size: 1.1rem;
}

.caixaPromo h2 {
    margin: 3px 0px;
    font-size: 1.3rem;
}

.precoAntigo {
    text-decoration: line-through 2px;
}
 
.img-lojas {
    background-image: url('/img/imagem-loja.png');
    background-position: center;
    background-repeat: no-repeat;
}

.backgroundCor {
    background: rgb(40,54,68);
    background: linear-gradient(90deg, rgba(40,54,68,0.896796218487395) 0%, rgba(40,54,68,0.896796218487395) 50%, rgba(40,54,68,0.6979166666666667) 55%, rgba(255,255,255,0) 100%);
}

.caixa-texto-loja {
    max-width: 600px;
}

.bnt-tpr-loja {
    margin-left: auto;
    margin-right: auto;
    font: 1.4rem 'Righteous', cursive;
    padding: 7px 15px;
    background-color: rgba(255, 255, 255, 0.198);
    border-radius: 50px;
    text-align: center;
}

/* ppppp */
tr.style {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
tr.style:after {
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}


@media (max-width: 700px) {
    .telaMenor {
        display: none;
    }

    .menuIcon,
    .topnav {
        display: block;
    }

    /* menu celular */
    .nav2 ul {
        display: none;
    }

    .topnav-menu ul {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    list-style-type: none;
    margin: 10px 0px;
    padding: 0% 0%;
    align-items: flex-start
    }

    .topnav-menu li {
        margin: 10px;
    }

    .sticky {
        position: relative;
    }

    .nav2 .bnt:hover {
        border-style:  none;
        border-color:  none;
    }

    .bnt {
        height: auto;
    }

    .nav2 input {
        border: none;
        width: auto;
        height: 1.5rem;
        font-weight: 300;
        outline: none;
    }

    input[type="text" i] {
        padding: 0px 10px 0px 0px;
        margin: 0px 10px 0px 0px;
    }

}